*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0%;
    padding: 0%;
}

body{
    background-color: #560216;
}

.square{
       position: relative;
       background-color: #fff;
       height: 550px;
       width: 700px;
       left: 400px;
       top: 100px;
       border-radius: 40px;
}
   
.square h2{
       position: relative;
       color: #560216;
       font-size: 50px;
       top: 20px;
       left: 200px;
}
   
.name{
   position: relative;
   top: 30px;
   left: 130px;
   font-size: 20px;
   color: #560216;
}
   
.text{
       position: relative;
       top: 100px;
       left: 70px;
       height: 80px;
       width: 400px;
       background-color: #560216;
       color: #fff;
       border-radius: 200px;
}
   
.senha{
       position: relative;
       top: 100px;
       left: 130px;
       font-size: 20px;
       color: #560216;
}
   
.pass{
       position: relative;
       top: 170px;
       left: 70px;
       height: 80px;
       width: 400px;
       color: #fff;
       background-color: #560216;
       border-radius: 200px;
}
   
.cds a {
       position: relative;
       top: 290px;
       left: 30px;
       font-size: 25px;
       color: #560216;
}
   
.esq a{
       position: relative;
       top: 260px;
       left: 470px;
       font-size: 25px;
       color: #560216;
}

.login a{
       position: relative;
       top: 130px;
       left: 50px;
       font-size: 30px;
       color: #560216;
       text-decoration: none;
}